{% extends 'base.html' %}
{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1 col-sm-10 offset-sm-2 mt-4 card card-body">
            <div class="text-center">
                <span class="display-5 text-success">Sensores/ {{nombre_instalacion}}</span>
            </div>
            <div class="card card-body">
                <table id="sensoresData" class="display">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Parametro</th>
                            <th>Ref</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for sensor in sensores %}
                        <tr>
                            <td>{{sensor.nombre}}</td>
                            <td>{{sensor.parametro}}</td>
                            <td>{{sensor.id}}</td>
                            <td>
                                <a href="{% url 'sensor_update' sensor.id %}" type="button" class="btn btn-success">Detalles</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <script>
                $(document).ready(function () {
                    $('#sensoresData').DataTable();
                });
            </script>

        </div>
    </div>
</main>
{% endblock %}